:root {
    --linkColor:#065580;
    --linkUnderlineColor:#C8D5DE; /*rgba(6,85,128,.25);*/
    --keyColor:#e20016;
    --keyUnderlineColor:rgba(226,0,22,.25);
    --successColor: green;
    --colorRating: #C8D5DE;
    --colorRatingActive: #C8D5DE;
    --colorRatingTotal: #C8D5DE;
    --colorTransparent:rgba(0,0,0,0);
}
html {
    font-size: 16px;
}
body {
    background: #fff;
    margin:0;
    padding:2rem 2rem 3rem 4rem;
    font-family: PT Sans, sans-serif;
}
.topinfo {
    margin: -2rem -2rem 3rem -4rem;
    padding: .5rem 2rem .4rem 4rem;
    font-size: .90rem;
    background: #FAECBB;
}
.topinfo a {
    display: inline-block;
    line-height: 1.4em;
}
h1 {
    font-weight: normal;
    margin: 1rem 0 .5rem;
}
header {
    margin-bottom: 3rem;
}
nav li {
    display: inline-block;
    list-style-type: none;
}
nav li a {
    display: inline-block;
    line-height: 1.4em;
}
nav li strong {
    color: var(--keyColor);
}
nav li + li {
    margin-left: .5rem;
}
nav li + li.separator {
    width: 2rem;
}
a, a:visited, .link {
    background-image: linear-gradient(180deg,var(--linkUnderlineColor) 0,var(--linkUnderlineColor));
    background-repeat: repeat-x;
    background-position: 0 90%;
    background-size: 1px 1px;
    text-decoration: none;
    color: var(--linkColor);
}
a:hover, a:active, .link:hover, .link:active {
    background-image: linear-gradient(180deg,var(--keyColor) 0,var(--keyColor));
    color: var(--keyColor);
}

#rating {
    position: relative;
}
#chartdiv {
	width	: 100%;
	height	: calc(100vh - 450px);
}
#students {
	width	: 250px;
	height	: calc(100vh - 450px);
}
#chartdiv:empty:before {
    content: 'Данные загружаются';
    font-style: italic;
}
.student-list {
    margin-top: 62px;
}
.student-list_item {
    height: 49px;
    cursor: pointer;
}
body.designers .student-list_item {
    height: 49.37px
}
body.editors .student-list_item {
    height: 49.47px;
}
body.managers .student-list_item {
    height: 49px;
}
.student-list_item h2, p {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
.student-list_item h2 .student-name {
    cursor: pointer;
    display: inline-block;
    line-height: 1.4;
    background-image: linear-gradient(to left,var(--colorRating) 0, var(--colorRating) 50%, var(--colorTransparent) 50%);
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-size: 6px 1px;
    text-decoration: none;
    color: var(--linkColor);
}
.student-list_item:hover h2 .student-name {
    background-image: linear-gradient(180deg,var(--colorRatingActive) 0,var(--colorRatingActive));
}
.student-list_item.active h2 .student-name {
    background-image: none;
    font-weight: bold;
}
.student-list_item h2 .student-percentage {
    cursor: pointer;
    display: inline-block;
    width: calc(250px - 2rem);
    line-height: 1.4;
    background-image: linear-gradient(180deg, var(--colorRatingTotal), var(--colorRatingTotal));
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: 0 100%;
}
.student-list_item p {
    margin-top: .1rem;
    font-family: PT Serif, serif;
    font-size: .82em;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease;
    margin-left: 1.7rem;
}
.student-list_item.active p,
.student-list_item:hover p {
    visibility: visible;
    opacity: 1;
}
.student-list_item .place {
    display: inline-block;
    text-align: right;
    width: 1.5rem;
    color: #ccc;
    font-size: .82em;
}
.student-list_item .place-diff {
    letter-spacing: -.5px;
    color: var(--keyColor);
    margin-left: .2rem;
}
.student-list_item .place-diff_up {
    color: var(--successColor);
}
.student-list_item .place-diff_down {
    color: var(--keyColor);
}
.student-list_item .points small {
    margin-left: .3rem;
}

aside p {
    margin-bottom: .5rem;
}
aside {
    margin-bottom: 3rem;
}

#stats {
    margin-bottom: 2rem;
}
#stats dt {
    margin: 0 0 .3rem 0;
    font-weight: 600;
}
#stats dd {
    margin-bottom: 1rem;
}
#stats dd em {
    font-family: PT Serif, serif;
    margin-left: .3rem;
    font-size: 82.5%;
}

footer {
    font-size: 82.5%;
    margin-top: 5rem;
    margin-bottom: 2rem
}


.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.flex-item-1 {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 0 calc(100% - 250px);
    -ms-flex: 1 0 calc(100% - 250px);
    flex: 1 0 calc(100% - 250px);
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width: calc(100% - 250px);
    min-width: 300px;
    overflow-x: scroll;
}

.flex-item-2 {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 250px;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    min-width: 250px;
}

.poem {
    max-width: 500px;
    display: none;
}
.poem img {
    width: 100%;
}

.scrollbox {
    background:
        radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0));

	background-repeat: no-repeat;
    background-color: transparent;
    background-position:
        left center,
        right center;
    background-size:
        10px 130%,
        10px 130%;

	/* Opera doesn't support this in the shorthand */
	background-attachment: scroll, scroll;
}

.scrollbox-container {
    background:
        linear-gradient(to right, white 30%, rgba(255,255,255,0)),
        linear-gradient(to left, white 30%, rgba(255,255,255,0));

    background-repeat: no-repeat;
    background-color: transparent;
    background-position:
        left center,
        right center;
    background-size:
        30px 100%,
        30px 100%;

    /* Opera doesn't support this in the shorthand */
    background-attachment: scroll, scroll;
}


@media only screen and (max-width: 640px) {
    html {
        font-size: 14px;
    }

    body {
        background: #fff;
        margin:0;
        padding:1rem 1rem 2rem 2rem;
        font-family: PT Sans, sans-serif;
    }
    .topinfo {
        margin: -1rem -1rem 2rem -2rem;
        padding: .5rem 1rem .4rem 2rem;
        font-size: .82rem;
        background: #F9DD75;
    }
}

@media only screen and (max-width: 400px) {
    nav li.separator {
        display: block;
        height: .4rem;
    }
    nav li.separator + li {
        margin-left:0;
    }
}